<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset=utf-8>
        <title>Sample HTML5 Structure</title>
        <meta name="description" content="Welcome to my basic template.">
        <link rel="stylesheet" href="css/style.css?v=1">
    </head>
    <body>
        <div id="container">
            <header>
                <h1>Sample HTML5 Structure</h1>
                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                    </ul>
                </nav>
            </header>
            <section>
                <hgroup>
                    <h1>Main Section</h1>
                    <h2>This is a sample HTML5 Page</h2>
                </hgroup>
                <article>
                    <p>This is the content for the first article</p>
                </article>
                <article>
                    <p>This is the content for the second article</p>
                </article>
            </section>
            <footer>
                <p>This is the Footer</p>
            </footer>
        </div>
    </body>
</html>
